@import 'assets/scss/variables';

.navbarMobile,
.navbarDesktop {
  top: 0;
  display: flex;
  flex-direction: column;
  width: $navbar-width;
  height: 100vh;
  background-color: $navbar-bgcolor-primary;
  color: $navbar-color-primary;
  z-index: $navbar-z-index;
  -webkit-transition: width $transition-time ease-in-out;
  -moz-transition: width $transition-time ease-in-out;
  -o-transition: width $transition-time ease-in-out;
  transition: width $transition-time ease-in-out;
}

.navbarMobile {
  position: fixed;
}

.navbarDesktop {
  position: sticky;
}

.navbarContentCollapsed {
  display: none;
}

.navbarContentExpanded {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbarCollapsedMobile {
  width: 0;
}

.navbarCollapsedDesktop {
  width: $navbar-width-collapsed;
}

.navBarElement {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
}

.topSection {
  height: $topbar-height;
  background-color: $navbar-bgcolor-secondary;
  color: $navbar-color-secondary;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.title {
  margin-left: 18px !important;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
}

.bottomSection {
  width: 100%;
  height: 48px;
  background-color: $navbar-bgcolor-secondary;
  color: $navbar-color-secondary;
}

.mainSection {
  flex-grow: 1;
  padding-top: 16px;
}

.arrowBottomButton {
  height: 100%;
  color: $navbar-color-secondary !important;
}

.menuItemButton {
  justify-content: left !important;
  padding: 12px 0 !important;
  text-transform: none !important;
}

.menuItemButtonContent {
  color: $navbar-color-primary;
  display: flex;
  justify-content: left;
  align-items: center;
}

.icon {
  padding: 1px 0;
  opacity: 0.5;
}
