// global colors
$primary-bgcolor: #102341;
$secondary-bgcolor: #102341;
$white-color: #ffffff;
$black-color: #000000;

// animations
$transition-time: 0.3s;

// topbar
$topbar-bgcolor: #ffffff;
$topbar-color: $primary-bgcolor;
$topbar-height: 64px;

// navbar
$navbar-bgcolor-primary: #233044;
$navbar-color-primary: #eeeeee;
$navbar-bgcolor-secondary: #1e2a38;
$navbar-color-secondary: #eeeeee;
$navbar-width: 240px;
$navbar-width-collapsed: 60px;

// container
$container-bgcolor: #f7f9fc;

// z-index
$navbar-z-index: 1200;
$overlay-z-index: 1190;

// grid
$grid-gap: 1.5rem;
$grid-sizes: (
  'xs': 12rem,
  'sm': 18rem,
  'md': 22rem,
  'lg': 26rem,
  'xl': 30rem
);
