@import 'assets/scss/variables';

.dashboard {
  display: flex;
  flex-direction: row;
}

.leftContent {
  flex-shrink: 0;
}

.rightContent {
  flex-grow: 1;
}

.containerWrapper {
  min-height: calc(100vh - #{$topbar-height});
  background-color: $container-bgcolor;
}

.container {
  padding-top: $container-padding-top;
  padding-bottom: $container-padding-bottom;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black-color;
  opacity: 0;
  z-index: $overlay-z-index;
}

.overlayActive {
  opacity: 0.3;
}
