@import 'assets/scss/variables';

.dashboard {
  display: flex;
  flex-direction: row;
}

.leftContent {
  flex-shrink: 0;
}

.rightContent {
  flex-grow: 1;
}

.containerWrapper {
  min-height: calc(100vh - #{$topbar-height});
  background-color: $container-bgcolor;
}

.container {
  padding-top: $container-padding-top;
}
