@import 'assets/scss/variables';

.authLayout {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
  background-color: $white-color;
}

.container {
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.authBox {
  background-color: $white-color;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}
