.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    align-self: flex-end;
  }
}

.title {
  margin-bottom: 8px !important;
}

.divider {
  margin: 24px 0 !important;
}

.fabButton {
  bottom: 24px;
  position: absolute !important;
  right: 24px;
}
